body{
    background-color: lightblue;
}
img.topImage{
    position: absolute;
    width: 1920px;
    height: 160px;
    object-fit: cover;
    border-bottom-style: solid;
    border-color: cornflowerblue;
    top: 0;
    right: 0;
}

.flexSquare{
    display: flex;
    gap: 80px;
}

div.homeSquare{
    position: relative;
    top: 72px;
    left: 60px;
    width: 350px;
    height: 80px;
    background-color: cornflowerblue;
    border-radius: 20px 20px 0 0;
}

div.squareText{
    font-size: 40px;
    font-family: sans-serif, Times, serif;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.squareText:hover{
    color: blue;
}
div.mainBody{
    position: relative;
    background-color: cadetblue;
    border-style: solid;
    border-color: cornflowerblue;
    width: 1270px;
    height: 1200px;
    left: 220px;
    bottom: -72px;
}
h1.overtext{
    font-family: sans-serif, Times, serif;
    margin-left: 35px;
}

img.textImage1{
    position: relative;
    float: right;
    border-style: solid;
    border-color: cornflowerblue;
    height: 250px;
    width: auto;
    max-height: 100%;
    border-width: 4px;
    margin: 18px;
}

img.textImage2{
    position: relative;
    float: left;
    border-style: solid;
    border-color: cornflowerblue;
    height: 250px;
    width: auto;
    max-height: 100%;
    border-width: 4px;
    margin: 15px 15px 15px 0;
}

p.mainText{
    margin-top: 0;
    margin-left: 35px;
    font-size: 20px;
    font-family: sans-serif, Times, serif;
    line-height: 150%;
}

div.rightBox{
    position: fixed;
    width: 350px;
    height: 700px;
    background-color: cadetblue;
    border-radius: 30px;
    border-style: solid;
    border-color: cornflowerblue;
    bottom: 50px;
    right: 20px;
}
h1.cornerTitle{
    font-size: 24px;
    font-weight: bold;
    margin-left: 45px;
}

p.cornerText{
    margin-left: 25px;
    font-size: 18px;
    color: blue;
    text-decoration: underline;
}

p.cornerText:hover{
    color: green;
}

.inputBody{
    position: relative;
    background-color: silver;
    bottom: -90px;
    font-size: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: cadetblue;
    padding: 16px 110px;
    text-align: right;
    line-height: 40px;
    right: -20px;
    height: 15px;
}

p.footerText{
    position: absolute;
    background-color: lightcyan;
    width: 1920px;
    height: 70px;
    font-size: 16px;
    border-top-style: solid;
    border-color: black;
    right: 0;
}