<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild!</title>
    <link rel="stylesheet" href="/madWeb.css">
</head>
<body>
<img class="topImage" th:src="@{/images/grass.jpg}" src="/images/grass.jpg" alt="Picture=sad">
<div class="flexSquare">
    <div class="homeSquare">
        <div class="squareText">
            Home
        </div>
    </div>
    <div class="homeSquare">
        <div class="squareText">
            About
        </div>
    </div>
    <div class="homeSquare">
        <div class="squareText">
            More
        </div>
    </div>
        <input class="inputBody" type="text" placeholder="Søg efter artikler her🔎">
</div>

<div class="mainBody">
    <br>
    <br>
    <p class="mainText">
        Hej, virker dette?
    </p>
</div>

<div class="rightBox">
    <br>
    <p class="cornerText">
        Dette er nok bedre
    </p>
</div>

<footer>
   <p class="footerText">
       <br>
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Admin: Gamle Ole, forever 90 år  -------------------------------    Danmark mod Madspild &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @PrettyLogo<br>
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Kontakt os: +4590909090          ----------------------------------------    OleBingoBango@notreal.dk &nbsp&nbsp&nbsp&nbsp&nbsp Kæmp med os i kampen mod madspild!
   </p>
</footer>

</body>
</html>