<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild!</title>
    <link rel="stylesheet" href="/madWeb.css">
</head>
<body>
<img class="topImage" th:src="@{/images/grass.jpg}" src="/images/grass.jpg" alt="Picture=sad">
<div class="flexSquare">
    <div class="homeSquare">
        <div class="squareText">
            Home
        </div>
    </div>
    <div class="homeSquare">
        <div class="squareText">
            About
        </div>
    </div>
    <div class="homeSquare">
        <div class="squareText">
            More
        </div>
    </div>

</div>
</body>
</html>