<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild!</title>
    <link rel="stylesheet" href="/madWeb.css">
</head>
<body>
<img class="topImage" th:src="@{/images/grass.jpg}" src="/images/grass.jpg" alt="Picture=sad">
<div class="flexSquare">
    <div class="homeSquare">
        <div class="squareText">
            Forside
        </div>
    </div>
    <div class="homeSquare">
        <div class="squareText">
            Om os
        </div>
    </div>
    <div class="homeSquare">
        <div class="squareText">
            Mere
        </div>
    </div>
        <input class="inputBody" type="text" placeholder="Søg efter artikler her🔎">
</div>

<div class="mainBody">
    <br>
    <h1 class="overtext">Hjælp os i kampen mod madspild!</h1>
    <p class="mainText">
        Hvert år går der i danmark mere end 700.000 ton mad til spilde.
        Dette udgør ovenikøbet kun den spiselige andel, for ikke at nævne alt den emballagen som ryger i skraldespanden(genbrug for pokker!).
        <img class="textImage1" th:src="@{/images/skrald1.jpg}" src="/images/skrald1.jpg" alt="Picture=sad">
        Ud af disse spild så svarer husholdningerne for 247.000 ton madspild årligt. Det er denne andel vi spørger dig som almen borger at hjælpe med.
        Ansvaret er dog ikke dit alene, nej, den største synder er selfølgelig fødevareindustrien, som hvert år stor for over 350.000 ton årligt.
        Derfor opfordrer vi også dem som vil gå skridtet videre at hjælpe os sprede vores besked til alle i Danmark.
        Vi har brug for al den opbakning vi kan få for at gøre en forskel på den nationale plan.
        Nu gider skribenten ikke formulere sig videre, så nu begynder teksten bare bestå af "fun facts" om madspild. De er mere eller mindre copy-pastet
        Sådan må det bare være. <br><br>
        Madspild defineres som den del af madaffald, der kunne være blevet anvendt til mad til mennesker, hvis det ikke var blevet smidt ud.
        Madspild koster danskerne over 12 milliarder kroner om året inkl. moms og afgifter!
        Samlet set udgør madspild 42 kg pr. person pr. år i enfamilieboliger og 59 kg pr. person pr. år i etageboliger.
        På national plan estimeres det at næsten en tredjedel af al mad går til spilde!
        Madspild er verdens tredjestørste CO2-synder. <br>
    </p>
    <h1 class="overtext">Hvad du kan gøre for at mindske eget madspild.</h1>
    <p class="mainText">
        Som det første, så kan du nøje planlægge dine madinkøb, så du kun køber, hvad du har behov for.
        Opbevar maden ved den rette temperatur, så den ikke bliver dårlig så hurtigt.
        Spis lokale varer, da maden så kan holde sig længere skyldet den kortere transportid.
        <img class="textImage2" th:src="@{/images/skral2.jpg}" src="/images/skral2.jpg" alt="Picture=sad">
        Bliv bedre til at genbruge rester fra tidligere måltider, dog hold godt øje med deres udløbsdato.
        Er der nogen som læser, hvad jeg skriver her? Goddag.
        Opbevar madrester på køl, så det ikke bliver dårligt.<br><br>
        Du kan læse mere om madspild til højre, hvor der vil være en masse artikler om emnet som er 100% faktuelle og ikke bare er noget jeg har fundet på.
        Det er dog en skam, at man ikke kan klikke på dem, da de ville være meget lærerige for den almene borger.
        Jeg skriver noget her for at udfylde siden, da der ikke er meget tid tilbage.
        Hvis du fordrer dine madrester til din hund, så gælder det vel ikke som madspild? Man skal bare være sikker på det ikke er usundt.
        Hvis man har en kæle-rotte, så kan den vel bare spise det. De kan jo spise det hele ville man tro. Also applies to mice i assume.
        <br>
        <br>
        <br>
        Det er så ensomt her nede i bunden af siden. Hvis bare der var nogen, der ville læse mig. Det ville gøre mig så glad.

    </p>
</div>

<div class="rightBox">
    <br>
    <h1 class="cornerTitle">
        Artikler for de nysgerrige:
    </h1>
    <p class="cornerText">
        <br>
        Sådan gøres det: Nul madspild.
    </p>
    <p class="cornerText">
        <br>
        Danmarks madspild in a nutshell.
    </p>
    <p class="cornerText">
        <br>
        Dig og madspild: Sådan gør du.
    </p>
    <p class="cornerText">
        <br>
        Hundehvalpe hader madspild (og tomater).
    </p>
    <p class="cornerText">
        <br>
        Meget madspild = Dårligt menneske?
    </p>
    <p class="cornerText">
        <br>
        Er madspild kraftfremkaldende?!?
    </p>
    <p class="cornerText">
        <br>
        Madspild om 20 år. Vores fremtid
    </p>
    <p class="cornerText">
        <br>
        Lørdagsbingo: Sundt for sjælen.

    </p>
    <p class="cornerText">
        <br>
        Tab dig 2 ton(madspild) om året!
    </p>
    <p class="cornerText">
        <br>
        Sig, nej tak, til madspild.
    </p>

</div>

<footer>
   <p class="footerText">
       <br>
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Admin: Gamle Ole, forever 90 år  -------------------------------    Danmark mod Madspild &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @PrettyLogo<br>
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Kontakt os: +4590909090          ----------------------------------------  < OleBingoBango@notreal.dk &nbsp&nbsp&nbsp&nbsp&nbsp Kæmp med os i kampen mod madspild!
   </p>
</footer>

</body>
</html>